<%inherit file="base.htm" />

<%block name="content">
<div class="manager-view">
    <div id="wrapper">
        <div class="navbar sidebar" role="navigation"><!-- Navigation -->
            <div class="sidebar-nav navbar-collapse">
                <div class="admin-profile">
                    <img class="img-circle profile-image" src="${STATIC_URL}homepage/media/images/profile-pic.png" />
                    <div class="profile-dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-user fa-fw"></i> ${user.get_full_name()}   <i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="/manager/"><i class="fa fa-user fa-fw"></i> ${user.get_full_name()}</a>
                                </li>
                                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="/logout/"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
                                </li>
                            </ul>
                    </div>
                </div>
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="/administrator/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-user fa-fw"></i> Users<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="ru" href="/administrator/users/">Users</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-cubes fa-fw"></i> Inventory<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="item" href="/administrator/items/">Items</a>
                            </li>
                            <li>
                                <a class="product" href="/administrator/products/">Products</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a class="event" href="/administrator/events/"><i class="fa fa-flag-o fa-fw"></i> Public Events</a>
                    </li>
                    <li>
                        <a class="event" href="/administrator/areas/"><i class="fa fa-compass fa-fw"></i> Areas</a>
                    </li>
                    <li>
                        <a class="event" href="/administrator/organizations/"><i class="fa fa-users fa-fw"></i> Organizations</a>
                    </li>
                </ul>
            </div><!-- /.sidebar-collapse -->
        </div><!-- /.navbar-static-side -->

        <!--Main Page Content-->
        <div id="page-wrapper">
            <%block name="admincontent">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Admin</h1>
                    </div><!-- /.col-lg-12 -->
                </div><!-- /.row -->
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-user fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">${countusers}</div>
                                    <div>Total Users!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Create New User</span>
                                <span class="pull-right"><i class="fa fa-plus"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-flag fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">6</div>
                                    <div>Total Events!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Create New Event</span>
                                <span class="pull-right"><i class="fa fa-plus"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-plus-square-o fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">${countitems}</div>
                                    <div>Total Items!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Create New Item</span>
                                <span class="pull-right"><i class="fa fa-plus"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">${countproducts}</div>
                                    <div>Total Products!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Create New Product</span>
                                <span class="pull-right"><i class="fa fa-plus"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </%block>
        </div><!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
</div>
</%block>
