<%inherit file="/base/templates/base.htm" />


<%block name="headlinks">
    <!-- MetisMenu CSS -->
	<link href="${STATIC_URL}homepage/media/thirdparties/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
	<!-- Switch CSS -->
	<link href="${STATIC_URL}homepage/media/thirdparties/switch/css/bootstrap-switch.min.css" rel="stylesheet">
	<!-- Custom Fonts -->
	<link href="${STATIC_URL}homepage/media/thirdparties/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<!-- DataTables CSS -->
    <link href="https://cdn.datatables.net/plug-ins/1.10.6/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">
    <!-- DataTables Responsive CSS -->
    <link href="https://cdn.datatables.net/responsive/1.0.3/css/dataTables.responsive.css" rel="stylesheet">
	<!-- Timeline CSS -->
	<link href="${STATIC_URL}homepage/media/thirdparties/css/timeline.css" rel="stylesheet">
	<!-- Morris Charts CSS -->
	<link href="${STATIC_URL}homepage/media/thirdparties/morrisjs/morris.css" rel="stylesheet">
</%block>

<%block name="administrator">
    <%block name="content">

    </%block>
</%block>

<%block name="footlinks">
    <!-- DataTables JavaScript -->
    <script src="${STATIC_URL}homepage/media/thirdparties/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.6/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script src="${STATIC_URL}homepage/media/thirdparties/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
    <script src="${STATIC_URL}homepage/media/thirdparties/metisMenu/dist/metisMenu.min.js"></script>
    <script src="${STATIC_URL}homepage/media/thirdparties/raphael/raphael-min.js"></script>
    <script src="${STATIC_URL}homepage/media/thirdparties/morrisjs/morris.min.js"></script>
    <script src="${STATIC_URL}homepage/media/thirdparties/js/morris-data.js"></script>
	<script src="${STATIC_URL}homepage/media/thirdparties/switch/js/bootstrap-switch.min.js"></script>
	<script src="${STATIC_URL}homepage/media/thirdparties/bootstrap-notify.min.js"></script>
</%block>
