<!-- Registered Users View -->           
            <div class="row manage manage-event">
            	<div class="col-lg-12">
            		<div class="table-responsive">
                        <table class="table responsive table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th><div class="btn btn-primary btn-large">Create New Event</div></th>                                   
                                </tr>
                            </thead>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Event Name</th>
                                    <th>Event Location</th>
                                    <th>View/Edit Event</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>3326</td>
                                    <td>Red Coat Rebellion</td>
                                    <td>Provo, UT | <a href="#">Edit URL</a></td>
                                    <td><a href="#">View/Edit Event</a></td>
                                </tr>
                                <tr>
                                    <td>3326</td>
                                    <td>Red Coat Rebellion</td>
                                    <td>Provo, UT | <a href="#">Edit URL</a></td>
                                    <td><a href="#">View/Edit Event</a></td>
                                </tr>
                                <tr>
                                    <td>3326</td>
                                    <td>Red Coat Rebellion</td>
                                    <td>Provo, UT | <a href="#">Edit URL</a></td>
                                    <td><a href="#">View/Edit Event</a></td>
                                </tr>
                                <tr>
                                    <td>3326</td>
                                    <td>Red Coat Rebellion</td>
                                    <td>Provo, UT | <a href="#">Edit URL</a></td>
                                    <td><a href="#">View/Edit Event</a></td>
                                </tr>
                            </tbody>
						</table>
					</div><!-- /.table-responsive -->
				</div>                                    
			</div>
            <!-- /.row -->