<%inherit file="index.html" />

<%block name="admincontent">
    <div class="container">
        <div class="manager-edit">
            <div class="row">
                <div class="panel panel-default col-md-12 col-sm-12">
                    <div class="panel-heading">
                        <h3 class="panel-title">Edit Event</h3>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal signin-form" method="POST">
                            ${ form.non_field_errors() }
                            ${form.media}
                            % for field in form:
                            <div class="form-group">
                                <label class="col-md-2 control-label">${field.label}</label>
                                <div class="col-md-8">
                                    ${field}
                                    <p>
                                        ${field.errors}
                                    </p>
                                </div>
                            </div>
                            % endfor
                            <div class="col-md-offset-2 col-md-2 save-btn-col">
                                <button type="submit" class="btn btn-lg btn-white">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</%block>
