.account-info{
    min-height: 60%;
}
.account-container{
    border: 1px solid #ccc;
    border-radius: 0px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    margin: 0 auto;
    text-transform: capitalize;
}
