html, body {
  width: 100%;
  height: 100%;
}
a {color: rgb(102, 102, 102); text-transform: capitalize;}
.navbar {
    position: relative;
    min-height: 80px;
    margin-bottom: 20px;
    border-bottom: 2px solid rgba(0, 87, 140, 1);
    border-radius: 0px;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
}
#custom-modal .modal.custom .modal-dialog {
    width: 30%;
}
#custom-modal .modal.custom h3 {
    margin-top: 5px;
    color: #fff;
    padding-bottom: 15px;
}
#custom-modal .btn.custom {
    width: 80%;
    display: block;
    margin: 0 auto;
    background-color: rgba(0, 87, 140, 0.82);;
    color: #fff;
}
#custom-modal .btn.custom:hover{
    background-color: rgba(0, 100, 161, 0.82);;
    color: #fff;
}
#custom-modal .modal-container{
    margin: 15px 40px;
}
#custom-modal .modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: 0.9;
}
#custom-modal .modal-content {border: none;}
@media (min-width: 768px){
    #custom-modal .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    background: rgba(255, 255, 255, 0);
    }
}

#registerform input, #loginform input {
    background: transparent;
    border-bottom: 1px solid #fff;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0px;
    box-shadow: none;
    color: #fff;
    -webkit-transition:border 0.5s ease-in-out;


}
#registerform input:focus, #loginform input:focus{
    border-bottom: 2px solid rgba(0, 87, 140, 0.82);
    transition:0.2s ease-in-out all;
    -moz-transition:0.2s ease-in-out all;
    -webkit-transition:0.2s ease-in-out all;
}
.alert {
padding: 10px;
margin-bottom: 20px;
border: 1px solid transparent;
border-radius: 4px;
}

/* Footer */

footer{
	background: #65605c url("/static/homepage/media/images/footer.png") repeat;
	padding-top: 20px;
	padding-bottom: 0px;
	margin-top: 10px;
	color: #aaa;
	font-size: 12px;
	box-shadow: inset 0px 0px 10px #000;
    border-top: 4px solid rgba(0, 87, 140, 1);
    width: 100%;
}

footer a, footer a:visited{
	color: #ddd;
}

footer a:hover{
	color: #ccc;
	text-decoration: underline;
}

footer hr{
	height: 0px;
	padding: 0px;
	margin: 5px 0px;
	border-top: 1px solid #111;
	border-bottom: 1px solid #222;
}

footer h5{
	color: #fff;
}

footer h6{
	color: #fff;
}

footer ul{
	margin-left: 0px;
	margin:0px;
	padding-left:15px;
}

footer ul li{
	list-style-type: none;
	margin-bottom: 5px;
}

footer .widget{
	margin-bottom: 20px;
}

footer .copy{
	margin-bottom: 5px;
	font-size: 11px;
}

footer .payment-icons img{
	max-width: 35px;
	margin-right: 5px;
}
/* Half column */

.col-left{
	width: 48%;
	float: left;
}

.col-right{
	width: 48%;
	float: right;
}
.forgot {margin-top: 20px; color: #fff;}
.forgot a {color: rgba(0, 87, 140, 1);}
.bigcart {font-size: 12em;}
