@import "http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600";
@import "http://fonts.googleapis.com/css?family=Miss+Fajardose";

body, html {
	font-family:'Source Sans Pro',sans-serif;
	overflow-x: hidden;
	width: 100%;
}
a:hover {
    color: #FF0000;
}
a {
    color: #fff;
}
#homepage {
}
.text-center {
	padding-top:20px;
}

.col-xs-12 {
	background-color:#fff;
}

.logo-img {
	width:100%;
	height:auto;
}

.map {
	min-width:300px;
	min-height:300px;
	width:100%;
	height:100%;
}

.contact-header {
	font-size:24px;
}

.main-content {
	padding:0;
}

.navbar-header {
	margin:0 0 0 14px;
}

.round {
	border-radius:4px;
}

.beta-email {
	width:60%;
	float:left;
	height:56px;
	color:#fff;
	font-size:17px;
	background:rgba(255,255,255,0.15);
	border-color:rgba(255,255,255,0.15);
	border-radius:8px;
}

.beta {
	width:32%;
	background-color:#fff;
	border-color:#fff;
	color:#2C3E50;
	height:55px;
	line-height:32px;
	font-size:21px;
	border-radius:8px;
}

.beta a:hover {
	background-color:#2C3E50;
}

.header img.nav-logo{
	height: 31px;
}
.header img.nav-logo-dark{
    height: 31px;
    display: none;
}

.hero {
	text-align:center;
	background: url("/static/homepage/media/images/hero.svg") no-repeat center center fixed;
	height: 48em;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.hero h1 {
    font-size: 8em;
    font-family: 'Miss Fajardose', cursive;
    margin-bottom: 10px;
    color: #fff;
}

.hero h2 {
	font-size:2em;
	font-weight:300;
	line-height:1.5em;
	color:#FFF;
	font-family: cursive;
}

.hero p {
	font-size:1.5em;
	margin:20px 0 30px;
	font-weight:300;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Re-Vamped Bootstrap CSS */
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.container {
	padding: 0px;
}

.btn-primary {
	background-color:#3D617F;
	border-color:#2C3E50;
}

.footer .btn-primary {
	background-color:#fff;
}

.footer .btn-primary:hover {
	color:#2C3E50;
	border-color:rgba(255,255,255,0.80);
	background:rgba(255,255,255,0.80);
	background:rgba(255,255,255,0.80);
}
.header {
    background-color: rgba(140, 140, 140, 0);
}
.past-hero {
    -webkit-transition: background 0.9s ease-in-out;
    -moz-transition: background 0.9s ease-in-out;
    -o-transition: background 0.9s ease-in-out;
    transition: background 0.9s ease-in-out;
    background-color: #fff;
    color: #000;
}
.past-hero a {
    color: #000;
}

.navbar-top{
    padding: 0 50px;
	font-size: 17px;
	font-weight: 100;
	border: none;
	margin-bottom: 0;
	-webkit-transition: background 0.9s ease-in-out;
    -moz-transition: background 0.9s ease-in-out;
    -o-transition: background 0.9s ease-in-out;
    transition: background 0.9s ease-in-out;
}
.navbar-brand {
    padding-top: 10px;
}
.navbar-top .navbar-nav>li>a:hover {
    text-decoration: none;
    background-color: rgba(140, 140, 140, 0);
}

.navbar-default .navbar-brand {
	color:#2C3E50;
	padding: 13px;
}

.navbar-header .navbar-brand:hover {
	color:#1a242f;
}


/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Different Media Styles */
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 1400px) {
	.container {
		width:100%;
	}
}

@media (min-width: 1600px) {
	.container {
		width:100%;
	}
}
@media (min-width: 992px){
	.container {
		width: 100%;
	}
}
@media (min-width: 768px){
	.container {
		width: 100%;
	}
}
@media (min-width: 500px){
	.container {
		width: 100%;
	}
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Footer*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.footer {
	text-align:center;
	padding:20px 10px 50px;
}

.footer p {
	margin:10px 0 20px;
	font-size:17px;
}

.beta-signup {
}

.ccopyright {
	font-size:.9em;
	line-height:1em;
	margin:2em 0 0;
	padding:0;
	text-align:center;
}

.ccopyright li {
	border-left:solid 1px #ddd;
	display:inline-block;
	list-style:none;
	margin-left:1em;
	padding-left:1em;
}

.ccopyright li:first-child {
	border-left:0;
	margin-left:0;
	padding-left:0;
}