.login {
	margin:200px auto;
	padding:20px;
	border-radius:6px;
	color: #fff;
}

.panel-default {
	border-color:#ecf0f1;
	width:40%;
	margin:50px auto;
}

.signin-form {
    padding: 0 50px 20px;
    font-size: 16px;
    font-weight: 100;
    width: 40%;
    margin: 0 auto;
}
#inputEmail {
	margin-bottom:10px;
}

.main h3 {
	margin-top:0;
}

.login-or {
	position:relative;
	font-size:18px;
	color:#aaa;
	margin-top:10px;
	margin-bottom:10px;
	padding-top:10px;
	padding-bottom:10px;
}


h3 {
	text-align:center;
	margin:0 0 20px;
}