<%inherit file="/base/templates/base.htm" />

<%block name="headlinks">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</%block>

<%block name="shop">
    <nav class="navbar" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/homepage/">Homepage</a></li>
                    <li class="active"><a href="/shop/">Shop</a></li>
                    <li class="active"><a href="/shop/rentals/">Rentals</a></li>
                    <li class="active"><a href="/shop/festivals/">Festivals</a></li>
                    %if request.user.is_superuser:
                    <li><a href="/administrator/">Admin</a>
                    </li>
                    %endif
                </ul>
                <form id="search_go" class="navbar-form navbar-left" method="POST" action="/shop/index.search/" >
                    <div class="form-group">
                        <input type="text" id="search_input" name="searchfield" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" id="search_button" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle btn" data-toggle="dropdown" href="#">
                            <i class="fa fa-shopping-cart"></i> Cart
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a class="cart-modal" href="#"><i class="fa fa-user fa-fw"></i>
                                    %if user.is_authenticated():
                                        View ${user.first_name}'s Cart
                                    %else:
                                        View Guest Cart
                                    %endif
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle btn" data-toggle="dropdown" href="#">
                            %if user.is_authenticated():
                                Hi, ${user.first_name}
                            %else:
                                Login or Signup
                            %endif
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            %if user.is_authenticated():
                            <li><a href="/shop/account/"><i class="fa fa-gear fa-fw"></i> My Account</a>
                            </li>
                            %else:
                                <li><a id="login-modal-button" href="#"><i class="fa fa-user fa-fw"></i> Login</a>
                                </li>
                                <li><a id="register-modal-button" href="#"><i class="fa fa-user-plus fa-fw"></i> Create Account</a>
                                </li>
                            %endif
                            %if user.is_authenticated():
                            <li class="divider"></li>
                            <li><a href="/user_logout/"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
                            </li>
                            %endif
                        </ul>
                    </li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>



    <!-- MODAL -->
    <div class="modal custom fade" id="custom-modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>

    <%block name="content">

    </%block>

    <!-- Footer starts -->
		<footer class="shop-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-4">
								<div class="widget">
									<h5>Contact</h5>
									<hr />
									<div class="social">
										<a href="#"><i class="fa fa-facebook facebook"></i></a>
										<a href="#"><i class="fa fa-twitter twitter"></i></a>
										<a href="#"><i class="fa fa-linkedin linkedin"></i></a>
										<a href="#"><i class="fa fa-google-plus google-plus"></i></a>
									</div>
									<hr />
									<i class="fa fa-home"></i> &nbsp; 123, Some Area. Los Angeles, CA, 54321.
									<hr />
									<i class="fa fa-phone"></i> &nbsp; +239-3823-3434
									<hr />
									<i class="fa fa-envelope-o"></i> &nbsp; <a href="mailto:#">chf@colonialheritageutah.com</a>
									<hr />
								</div>
							</div>
							<div class="col-md-4">
								<div class="widget">
									<h5>About Us</h5>
									<hr />
									<p>The Colonial Heritage Foundation (the Foundation) is a 501(c)(3) corporation dedicated to the preservation of the values, culture, skills and history of America's founding. To accomplish this mission, the Foundation engages in a broad array of activities.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="widget">
									<h5>Common Links</h5>
									<hr />
									<div class="two-col">
										<div class="col-left">
											<ul>
												<li><a href="#">Home</a></li>
												<li><a href="#">Contact Us</a></li>
												<li><a href="#">Login</a></li>

											</ul>
										</div>
										<div class="col-right">
											<ul>
                                                <li><a href="#">Register</a></li>
												<li><a href="#">Shop</a></li>
												<li><a href="#">Rentals</a></li>
											</ul>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
						</div>
						<hr />
						<!-- Copyright info -->
						<p class="copy">Copyright &copy; 2012 | <a href="#">Your Site</a> - <a href="#">Home</a> | <a href="#">About Us</a> | <a href="#">Service</a> | <a href="#">Contact Us</a></p>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</footer>
		<!--/ Footer ends -->
</%block>

<%block name="footlinks">

</%block>
