<%inherit file="base.htm" />

<%block name="content">



    <div class="checkout">
        <div class="container-fluid">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="panel panel-default custom-panel">
                    <div class="panel-body">
                        <!-- Checkout page title -->
                        <h4 class="title"><i class="fa fa-shopping-cart"></i> Checkout</h4>
                        <!-- Sub title -->
                        <h5 class="title">Shipping &amp; Billing Details</h5>
                        <!-- Address and Shipping details form -->
                        <div class="form form-small">
                            <form class="form-horizontal" METHOD="POST">
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="name1">${ form['name'].label}</label>

                                    <div class="col-md-8">
                                        ${ form['name']}
                                        ${ form['name'].errors}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="name1">${ form['email'].label}</label>
                                    <div class="col-md-8">
                                        ${ form['email']}
                                        ${ form['email'].errors}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="name1">${ form['phone'].label}</label>
                                    <div class="col-md-8">
                                        ${ form['phone']}
                                        ${ form['phone'].errors}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="name1">${ form['address'].label}</label>
                                    <div class="col-md-8">
                                        ${ form['address']}
                                        ${ form['address'].errors}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="name1">${ form['country'].label}</label>
                                    <div class="col-md-8">
                                        ${ form['country']}
                                        ${ form['country'].errors}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="name1">${ form['state'].label}</label>
                                    <div class="col-md-8">
                                        ${ form['state']}
                                        ${ form['state'].errors}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="name1">${ form['city'].label}</label>
                                    <div class="col-md-8">
                                        ${ form['city']}
                                        ${ form['city'].errors}
                                    </div>

                                </div>

                                <hr />
                                <!-- Payment details section -->
                                <!-- Title -->
                                <h5 class="title">Payment Details</h5>

                                <div class="form-group">
                                    <label class="control-label col-md-2" for="cardnumber">${ form['ccname'].label}</label>
                                    <div class="col-md-8">
                                        ${ form['ccname']}
                                        ${ form['ccname'].errors}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="cardnumber">${ form['cardnumber'].label}</label>
                                    <div class="col-md-8">
                                        ${ form['cardnumber']}
                                        ${ form['cardnumber'].errors}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="expdate">${ form['expmonth'].label}</label>
                                    <div class="col-md-6">
                                        ${ form['expmonth']}
                                        ${ form['expmonth'].errors}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="expdate">${ form['expyear'].label}</label>
                                    <div class="col-md-6">
                                        ${ form['expyear']}
                                        ${ form['expyear'].errors}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="expdate">${ form['cvc'].label}</label>
                                    <div class="col-md-6">
                                        ${ form['cvc']}
                                        ${ form['cvc'].errors}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-md-offset-8">
                                        <div class="pull-right">
                                            <button type="submit" class="btn btn-danger">Purchase</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Confirm order button -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</%block>
