<%inherit file="base.htm" />

<%block name="content">

    <!-- Content -->
    <div class="items">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title">Upcoming Events</h3>
                </div>
                <div id="item-loop">
                    %for event in events:
                    <div class="col-md-3 col-sm-4">
                        <div class="item">
                            <!-- Item image -->
                            <div class="item-image">
                                <a href="/shop/event_details/${event.id}">
                                    <img src="${STATIC_URL}homepage/media/images/festival${event.id}.jpg" alt="" />
                                </a>
                            </div>
                            <!-- Item details -->
                            <div class="item-details">
                                <!-- Name -->
                                <!-- Use the span tag with the class "ico" and icon link (hot, sale, deal, new) -->
                                <h5><a href="single-item.html">${event.name}</a>
                                </h5>
                                <div class="clearfix"></div>
                                <!-- Para. Note more than 2 lines. -->
                                <p>${event.description}</p>
                                <hr />
                                <!-- Price -->
                                <div class="item-price pull-left">${event.start_date}</div>
                                <!-- Add to cart -->
                                <div class="button pull-right"><a href="/shop/event_details/${event.id}">More Info</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    %endfor
                </div>
            </div>
        </div>
    </div>
</%block>
