<%inherit file="base_ajax.htm" />

<%block name="content">



<div class="item_container">
    %if items or rentals:
    <table class="table table-striped tcart">
        <thead>
			<tr>
			  <th>Name</th>
			  <th>Quantity</th>
			  <th>Price</th>
              <th>Item Total</th>
              <th>Remove</th>
			</tr>
		</thead>

        <tbody>
            <% grand_total = 0 %>

            %for key,value in items.items():

            <%
                price = int(value[0].value)
                qty = value[1]

                sub_total = (price * qty)
                grand_total += sub_total
            %>

			<tr>
			  <td>${value[0].name}</td>
			  <td>${value[1]}</td>
			  <td>$${value[0].value}</td>
              <td>$${sub_total}</td>
              <td><a class="btn btn-danger delete_button" data-rental="False" data-pid="${value[0].id}" href="#"><i class="fa fa-times"></i></a></td>
			</tr>
            %endfor
		</tbody>
        <tfoot>
            <tr>
                <td><b>Total:</b> </td>
                <td></td>
                <td></td>
                <td></td>
                <td><b>$${grand_total}</b></td>
            </tr>
        </tfoot>
    </table>

    <table class="table table-striped tcart">
        <thead>
			<tr>
			  <th>Name</th>
              <th>Quantity</th>
			  <th>Price</th>
              <th>Item Total</th>
              <th>Remove</th>
			</tr>
		</thead>

        <tbody>
            <% grand_total = 0 %>

            %for rental in rentals:

            <%
                price = rental.current_price

                sub_total = price
                grand_total += sub_total
            %>
			<tr>
			  <td>${rental.name}</td>
              <td> - </td>
			  <td>$${rental.current_price}</td>
              <td>$${sub_total}</td>
              <td><a class="btn btn-danger delete_button" data-rental="True" data-pid="${rental.id}" href="#"><i class="fa fa-times"></i></a></td>
			</tr>
            %endfor
		</tbody>
        <tfoot>
            <tr>
                <td><b>Total:</b> </td>
                <td></td>
                <td></td>
                <td></td>
                <td><b>$${grand_total}</b></td>
            </tr>
        </tfoot>
    </table>
    %else:
    <div class="text-center">
        <i class="fa fa-shopping-cart bigcart"></i>
        <p>
            Shopping cart is empty! Get Shopping!
        </p>
    </div>
    %endif

</div>

</%block>
