<%inherit file="/base/templates/base.htm" />

<%block name="headlinks">
    <!-- Custom Fonts -->
	<link href="${STATIC_URL}homepage/media/thirdparties/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">	    
</%block>

<%block name="homepage">
    <div class="header">
    	<div class="navbar navbar-top navbar-fixed-top" role="navigation">
    		<div class="container">
    			<div class="navbar-header">
    				<button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="collapse">
    					<span class="icon-bar"></span>
    					<span class="icon-bar"></span>
    					<span class="icon-bar"></span>
    				</button>
    				<a class="navbar-brand" href="/index/">
    					<img class="nav-logo" src="${STATIC_URL}/homepage/media/images/logo.svg" />
    					<img class="nav-logo nav-logo-dark" src="${STATIC_URL}/homepage/media/images/logo-dark.svg" />
    			    </a>
    			</div>
    			<div id="navbar" class="navbar-collapse collapse">
    				<ul class="nav navbar-nav mighthide">
    					<li><a href="/index/">Home</a></li>
    					<li><a href="/about/">About</a></li>
    					<li><a href="/contact/">Contact</a></li>
    					<li><a href="/terms/">Terms</a></li>
    					<li><a href="/shop/">Shop</a></li>
    				</ul>
    				<ul class="nav navbar-nav navbar-right">
    				%if user.is_authenticated():
    					<li class="dropdown">
    						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
    							${user.get_full_name()} <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
    						</a>
    						<ul class="dropdown-menu dropdown-user">
    							<li><a href="/manager/"><i class="fa fa-user fa-fw"></i> ${user.get_full_name()}</a>
    							</li>
    							<li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
    							</li>
    							<li class="divider"></li>
    							<li><a href="/logout/"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
    							</li>
    						</ul>
    					<!-- /.dropdown-user -->
    					</li>
    				%else:
    					<li><a href="/login/">Login</a></li>
    				%endif
    				</ul>
    			</div>					
    		</div>
    	</div>
    </div>
    
    <div id="homepage" class="container">
    	<div class="hero col-sm-12">
    		<%block name="index">
       
    		</%block>
            <%block name="login">
       
    		</%block>
    		<%block name="about">
       
    		</%block>
    		<%block name="contact">
       
    		</%block>
        </div>
    	<!-- main area -->
    	<div class="col-xs-12 col-sm-12 main-content">
    		<%block name="content">
       
    		</%block>     
    	</div><!-- /.col-xs-12 main -->
    </div><!--/.container-->
    <footer class="footer">
    	<div class="row">
    		<div class="col-md-4 col-md-offset-4 beta-signup">
    			<ul class="ccopyright">
    				<li>All rights reserved.</li>
    				<li><i class="fa fa-rebel"></i></li>
    				<li>Design: Scott Romney</li>
    			</ul>
    		</div>
    	</div>
    </footer>  
</%block>

<%block name="footlinks">

</%block>

