<%inherit file="base.htm" />

<%block name="index">
<div class="login">
    <div class="row">
        <div class="col-md-12">
	        <h3>Enter Your New Password</h3>
        </div>

    	<form autocomplete="off" class="form-horizontal signin-form" method="POST">
    		${ form.non_field_errors() }
    		% for field in form:
    		<div class="form-group col-md-12">
    			 <label class="control-label">${field.label}</label>
    			<div class="col-md-12">
    				${field}
    			</div>
    		</div>
    		% endfor
    		<div class="form-group col-md-12">
    			<button type="submit" class="btn btn-primary">Change Password</button>
    		</div>
    	</form>
    </div>
</div>
</%block>
