<%inherit file="base.htm" />

<%block name="index">
    <!--
<div class="panel panel-default">
	<form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <p class="text-warning">Invalid Email/Password Please Try Again</p>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
        	<label><input type="checkbox" value="remember-me"> Remember me</label>
		</div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	</form>
</div>
-->
    <div class="signup">
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <h3>Sign Up</h3>
                </div>
                <form class="form-horizontal signin-form" method="POST">
                    % for field in form:
                    <div class="form-group col-md-12">
                        <!-- <label class="col-md-3 control-label">${field.label}</label> -->
                        <div class="col-md-12">
                            ${field}
                        </div>
                    </div>
                    % endfor
                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</%block>
