<%inherit file="base.htm" />

<%block name="content">
	<div class="userinfo">
		<h3>Please Enter Your Information</h3>		
		<div class="row">
			<form role="form">
        		<div class="col-xs-6 col-sm-6 col-md-6 info-column">
					<label for="inputUsernameEmail">First Name</label>
					<input type="text" class="form-control" id="inputUsernameEmail">
					<label for="inputUsernameEmail">Last Name</label>
					<input type="text" class="form-control" id="inputUsernameEmail">
					<label for="inputUsernameEmail">Address</label>
					<input type="text" class="form-control" id="inputUsernameEmail">
					<label for="inputUsernameEmail">City</label>
					<input type="text" class="form-control" id="inputUsernameEmail">
					<label for="inputUsernameEmail">State</label>
					<input type="text" class="form-control" id="inputUsernameEmail">
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 info-column">
					<label for="inputUsernameEmail">Zip</label>
					<input type="text" class="form-control" id="inputUsernameEmail">
					<label for="inputUsernameEmail">Country</label>
					<input type="text" class="form-control" id="inputUsernameEmail">
					<label for="inputUsernameEmail">Security Question</label>
					<input type="text" class="form-control" id="inputUsernameEmail">
					<label for="inputUsernameEmail">Answer</label>
					<input type="text" class="form-control" id="inputUsernameEmail">
					<label for="inputUsernameEmail">Phone</label>
					<input type="text" class="form-control" id="inputUsernameEmail">				
				</div>
				<button type="submit" class="btn btn-primary finish">Finish</button>
			</form>
		</div>
	</div> 
</%block>